/* single-card-wrap */

.wave-wrap {
  position: relative;
}

.wave-wrap .wave {
  position: absolute;
  width: 100%;
  bottom: -60px;
  left: 0;
}

.single-card-wrap .card-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}

.single-card-wrap .card-item p {
  margin-top: 35px;
}

.single-card-wrap .card-item h5 {
  margin-bottom: 50px;
}

/* MultiCard */

.multi-card-wrap {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
}

.multi-card-wrap .card-item {
  padding: 15px 0 25px;
}

.multi-card-wrap .card-item:not(:first-child) {
  position: relative;
}

.multi-card-wrap .card-item:not(:first-child)::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  margin-top: -24px;
  width: 1px;
  height: 48px;
  background: rgba(0, 0, 0, 0.09);
}

.multi-card-wrap .card-item p {
  margin-bottom: 0;
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
